.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1000px;
  gap: 1rem;
}

.sticky_wrap {
  width: 80%;
  max-width: 1000px;
  position: relative;
}
.height_fix {
  max-height: 60vh;
}
