.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1000px;
  gap: 1rem;
}

.reset {
  background-color: black;
}

.sticky_wrap {
  width: 80%;
  max-width: 1000px;
  position: relative;
  border: 1px solid;
}
.sticky_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 52px;
  background: lightgray;
  border-bottom: 1px solid black;
  z-index: 10;
}
.sticky_wrap::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 100%;
  border: 1px solid black;
  z-index: 10;
}
.sticky_wrap .sticky_box {
  overflow-y: auto;
  background-color: #ffffff;
}
.height_fix {
  max-height: 60vh;
}

.table {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: white;
}

.table thead th {
  position: sticky;
  top: 0;
  background: lightgray;
  height: 50px;
  border-bottom: 2px solid black;
  z-index: 10;
}
.table tr {
  height: 2rem;
}

.table tr:active,
.table tr:hover {
  background-color: #dddddd;
}

.table tr :first-child {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table tbody td:not(:first-child) {
  text-align: center;
}
