/** name section */
.name_section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: var(--name-section-height);
  background-color: beige;
  align-items: center;
}
.name_section .name {
  text-decoration: underline !important;
}

.name_section button {
  background-color: var(--button-color-main);
  border: 1px solid saddlebrown;
  color: #fff;
}
