.client {
  --upper-client: calc(var(--name-section-height) + var(--header-height, 50px));
  height: calc(100% - var(--upper-client));
}

.menu_container {
  --container-height: calc(100% - var(--category-height));
  height: var(--container-height);
  overflow: scroll;
  --footer-height: 5rem;
}

.category {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: var(--category-height);
}

.category button {
  background: var(--button-color-main);
  color: white;
  outline: none;
  border: 1px solid saddlebrown;
  height: 3rem;
  margin: 0.5rem;
  padding: 1rem;
}

.category button.active {
  background-color: beige;
  color: black;
}

.menu {
  min-height: calc(100% - var(--footer-height) - 4rem);
  width: 100%;
}

.menu .card {
  display: none;
}

.menu .list {
  width: 100%;
  padding: 0;
  margin-bottom: var(--footer-height);
}
.menu .list li {
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: ease 1s;
  width: 100%;
  height: 120px;
}
.menu .list li > button {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  color: #000000;
}

.menu .list li > button .img-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.menu .list li > button .txt-container {
  width: calc(100% - 150px);
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: start;
  word-break: keep-all;
}

.menu .list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu .list li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu .selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_container .footer {
  position: absolute;
  padding: 1rem;
  width: 100%;
  top: calc(100% - var(--footer-height));
}

.menu_container .footer button {
  background: rgb(105, 81, 157);
  color: white;
  outline: none;
  border: 1px solid saddlebrown;
  cursor: pointer;
}

@media (min-aspect-ratio: 6/5) and (min-height: 768px) {
  .menu {
    display: flex;
  }
  .menu_container .menu .card {
    display: flex;
    width: 50%;
    height: calc(
      100vh - var(--upper-client) - var(--category-height) -
        var(--footer-height)
    );
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
  }
  .menu_container .menu .card.fallback {
    flex-direction: column;
  }
  .menu_container .menu .card form {
    width: 50%;
  }
  .menu_container .menu .card + .list {
    width: 50%;
    max-width: 50%;
  }
}
