:root {
  --header-height: 50px;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

a {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
