.main {
  width: 100%;
  height: calc(100% - var(--header-height, 50px));
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.main h3 {
  text-align: center;
}
