.bill {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - var(--header-height));
}

.bill .title {
  text-align: center;
}

.table {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

.table thead {
  border: 1px solid black;
}
.table tr:active,
.table tr:hover {
  background-color: #dddddd;
}

.table tr :first-child {
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table tbody td:not(:first-child) {
  text-align: center;
}
