.toggleSwitch {
  width: 80px;
  height: 40px;
  display: block;
  position: relative;
  border: 2px solid black;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 4px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: black;
}

.toggle:checked ~ .toggleSwitch {
  background: var(--button-color-main);
  border: none;
}

.toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 34px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}
